@model NPCIL.Models.BaseWebPageModel;


<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NPCIL</title>
    <!-- Favicons Icons -->
    <link rel="icon" type="image/png" href="CustomAssets/images/favicon.ico" />
    <meta name="description" content="Goverment Of Tamilnadu Labour Department" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/CustomAssets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="~/CustomAssets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~https://site-Assets.fontawesome.com/releases/v6.4.2/css/all.css" />
    <link rel="stylesheet" href="~/CustomAssets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/CustomAssets/vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="~/CustomAssets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/CustomAssets/vendors/thm-icons/style.css">
    <!-- Module css -->
    <link rel="stylesheet" href="~/CustomAssets/css/module-css/01-header-section.css">
    <link rel="stylesheet" href="~/CustomAssets/css/module-css/03-about-section.css">
    <link rel="stylesheet" href="~/CustomAssets/css/module-css/02-banner-section.css">
    <link rel="stylesheet" href="~/CustomAssets/css/module-css/07-footer-section.css">
    <!-- template styles -->

    <link rel="stylesheet" href="~/CustomAssets/css/style.css" />
    <link rel="stylesheet" href="~/CustomAssets/css/responsive.css" />
</head>
<body>

 <div class="page-wrapper">

        <!--Start Main Header One-->
        <header class="main-header main-header-one">
            <!--Start Main Header One Top-->
            <div class="main-header-one__top">
                <div class="container-fluid">
                    <div class="main-header-one__top-inner">


                        <div class="main-header-one__top-right">
                            <ul>


                                <li>

                                    <div class="text">
                                        <p class="fs-14"><a href="#">Skip to Main Content</a></p>
                                    </div>
                                </li>
                                <li>

                                    <div class="text">
                                        <p class="fs-14"><a href="#">Screen Reader Access</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <a href="#">  <img width="20" src="~/CustomAssets/images/sitemap.png" /></a>
                                    </div>

                                </li>


                                <li>

                                    <div class="icon">
                                        <input type="color" class="color-picker pl-2" name="favcolor" value="#f5f8f9">
                                    </div>
                                    <div class="icon">
                                        <input type="color" class="color-picker" id="Canvascolor" name="favcolor" value="#0000">
                                    </div>
                                    <div class="icon">
                                        <input type="color" class="color-picker" id="Canvascolor" name="favcolor" value="#E0F616">
                                    </div>
                                </li>
                                <li>
                                    <select name="cars" class="language">
                                        <option value="English">English</option>
                                        <option value="Hindi">Hindi</option>

                                    </select>

                                </li>
                            </ul>
                            <ul class="main-header-one__top-left-social-link">
                                <li><a href="#"><span class="icon-facebook-app-symbol"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Main Header One Top-->
            <div class="main-header-one__center">
                <div class="container-fluid">
                    <div class="main-header-one__bottom-left">
                        <div class="logo-box-one">
                            <a href="index.html">
                                <img src="~/CustomAssets/images/logo.png" alt="Awesome Logo" title="">
                            </a>
                        </div>
                        <div class="main-header-one__bottom-left_inner">
                            <div class="main-header-one__bottom-right-number">


                                <div class="text me-3">

                                    <img style="width: 80px;" src="~/CustomAssets/images/side-logo-1.png" />
                                </div>
                                <div class="text me-3">

                                    <img style="width: 80px;" src="~/CustomAssets/images/side-logo-2.png" />
                                </div>
                                <div class="text">

                                    <img style="width: 80px;" src="~/CustomAssets/images/side-logo-3.png" />
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <!--Start Main Header One Bottom-->
            <div class="main-header-one__bottom">
                <nav class="main-menu main-menu-one">
                    <div class="main-menu__wrapper clearfix">
                        <div class="container-fluid">
                            <div class="main-menu__wrapper-inner">



                                <div class="main-header-one__bottom-right">
                                    <div class="main-menu-box">
                                        <a href="#" class="mobile-nav__toggler">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                       @*  <ul class="main-menu__list">
                                        @foreach (var Menu in Model.Menus)
                                        {
                                            if (string.IsNullOrEmpty(Menu.ParentId) || Int32.Parse(Menu.ParentId) == 0)
                                            {
                                            
                                                <li>
                                                        <a href="+Menu.MenuName_eng+">@Menu.MenuName_eng </a>
                                                        @Html.ActionLink("","Menu.MenuName_eng")
                                                </li>
                                            
                                            }
                                        }
                                        </ul> *@
                                    </div>



                                </div>


                                <div class="main-header-one__bottom-right-2">
                                    <ul class="d-flex align-items-center">
                                        <li class="me-3"><img style="width:30px;" src="~/CustomAssets/images/side-bar.png" /></li>
                                        <li class="search-popup__content">
                                            <form action="#">
                                                <label for="search" class="sr-only">search here</label>
                                                <input type="text" id="search" placeholder="Search Here...">
                                                <button type="submit" aria-label="search submit" class="thm-btn">
                                                    <i class="icon-search-1"></i>
                                                </button>
                                            </form>
                                        </li>


                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!--End Main Header One Bottom-->

        </header>
        <!--End Main Header One-->



        <!-- Body-->
        @RenderBody()
        <!-- Body-->
        <!--Start footer area -->
        <footer class="footer-area">
            <div class="footer-area__shape1">
                <img src="~/CustomAssets/images/shapes/footer-v1-shape1.png" alt="#">
            </div>
            <!--Start Footer-->
            <div class="footer">
                <div class="auto-container">
                    <div class="row">
                        <!--Start single footer widget-->
                        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.3s">
                            <div class="single-footer-widget single-footer-widget--explore">

                                <div class="footer-widget-links">
                                    <div class="our-company-info">

                                        <div class="our-company-info__text mt-0">
                                            <h4 class="text-white mb-2">Nuclear Power Corporation of India Limited, Department of Atomic Energy. (NPCIL)</h4>
                                            <h5 class="text-white">Government of India</h5>
                                            <p class="mt-3">
                                                C- 56/48, near Fortis Hospital, Institutional Area, Phase 2, Industrial Area, Sector 62, Noida, Uttar Pradesh 201301
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.3s">
                            <div class="single-footer-widget single-footer-widget--explore">

                                <div class="footer-widget-links">
                                    <ul>

                                        <li><a href="#">Photo Gallery</a></li>
                                        <li><a href="#">RTI Act</a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Structure</a></li>
                                        <li><a href="#">Overview</a></li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.5s">
                            <div class="single-footer-widget single-footer-widget--links">

                                <div class="footer-widget-links">
                                    <ul>

                                        <li><a href="#">Labour Legislations</a></li>
                                        <li><a href="#">Eradication of Child Labour</a></li>
                                        <li><a href="#">Legal Metrology</a></li>
                                        <li><a href="#">Conciliation</a></li>
                                        <li><a href="#">Inspection Procedure</a></li>
                                        <li><a href="#"> Bonded Labour</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                    </div>
                </div>
            </div>
            <!--End Footer-->

            <div class="footer-bottom">
                <div class="container">
                    <div class="bottom-inner text-center">
                        <div class="copyright">
                            <p>© 2023 Site owned by : Nuclear Power Corporation of India Limited, Department of Atomic Energy, Government of India</p>

                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!--End footer area-->



    </div>
                    <!-- /.page-wrapper -->

                    <div class="mobile-nav__wrapper">
                        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
                        <div class="mobile-nav__content">
                            <span class="mobile-nav__close mobile-nav__toggler">
                                <i class="icon-plus"></i>
                            </span>

                            <div class="mobile-nav__container"></div>

                            <div class="mobile-nav__social">
                                <a href="#" class="fab fa-facebook"></a>
                                <a href="#" class="fab fa-twitter"></a>
                                <a href="#" class="fab fa-youtube"></a>

                            </div>

                        </div>
                    </div>

                    <div class="search-popup">
                        <div class="search-popup__overlay search-toggler"></div>
                        <div class="search-popup__content">
                            <form action="#">
                                <label for="search" class="sr-only">search here</label>
                                <input type="text" id="search" placeholder="Search Here..." />
                                <button type="submit" aria-label="search submit" class="thm-btn">
                                    <i class="icon-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                    </div>


                    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
                        <i class="icon-down-arrow"></i>
                    </a>

                    <script src="~/CustomAssets/vendors/jquery/jquery-3.6.0.min.js"></script>
                    <script src="~/CustomAssets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
                    <script src="~/CustomAssets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
                    <script src="~/CustomAssets/vendors/nice-select/jquery.nice-select.min.js"></script>                
                    <script src="~/CustomAssets/vendors/swiper/swiper.min.js"></script>
                    <script src="~/CustomAssets/vendors/timepicker/timePicker.js"></script>
                    <script src="~/CustomAssets/vendors/tiny-slider/tiny-slider.min.js"></script>                              
                    <script src="~/CustomAssets/vendors/wow/wow.js"></script>                                   
                    <script src="~/CustomAssets/js/custom.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>