@model NPCIL.Models.HomeModel;

<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
    <!-- /.sticky-header__content -->
</div>
<!-- /.stricky-header -->
<!--Start Main Slider -->
<section class="main-slider main-slider-one">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @foreach (var banner in Model.Banners)
                        {
                            <div class="swiper-slide">
                                <div class="image-layer" style="background-image: url('@Url.Content("~/Banner/" + banner.ImagePath)');">
                                </div>
                            </div>
                        }
                    </div>

                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- Add Navigation -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>

        </div>
    </div>

</section>
<!--End Main Slider-->
<section class="latest-news">

    <p class="fs-16 font-w600"><span class="title-news fs-18 mr-2">What's New</span> <span class="news-text">26/09/2023 Interacting Young Minds to Spread Awareness About Nucle... </span></p>

</section>

<!--Start Instant Services Style1-->
<section class="instant-services-style1" style=" background-image: url(~/CustomAssets/images/about-bg.png);">

    <div class="container-fluid">
        <div class="row">
            <!--Start Instant Services Style1 Img-->
            <div class="col-xl-9">
                <div class="row about">
                    <div class="col-xl-4">
                        <div class="about-style2__img">

                            <div class="inner">
                                <img src="~/CustomAssets/images/about-ceo.png" alt="#">
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-8">
                        <div class="about-style2__content">
                            <div class="sec-title">
                                <div class="sub-title">
                                    <h6>Welcome to</h6>
                                </div>
                                <h2>Nuclear Power Corporation of  India Limited </h2>
                            </div>
                            <div class="about-style2__content-text" style="width: 90%;text-align: justify;">
                                <p>
                                    Nuclear Power Corporation of India Limited (NPCIL) is a Public Sector Enterprise under the administrative control of the Department of Atomic Energy (DAE), Government of India. The Company was registered as a Public Limited Company under the Companies Act, 1956 in September 1987 with the objectives of operating atomic power plants and implementing atomic power projects for generation of electricity in pursuance of the schemes and programmes of the Government of India under the Atomic Energy Act, 1962. NPCIL also has equity participation in BHAVINI, another PSU of Department of Atomic Energy (DAE) which implements Fast Breeder Reactors programme in the country.
                                </p>
                            </div>
                            <div class="btn-box mt-4">
                                <a class="btn-one" href="about.html">
                                    <span class="txt">Read More <i class="fa fa-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Instant Services Style1 Img-->
            <!--Start Instant Services Style1 Content-->
            <div class="col-xl-3">
                <img class="mb-3" style="margin-top: -40px;" src="~/CustomAssets/images/side-1.png" />
                <img class="mb-3" src="~/CustomAssets/images/side-2.png" />
                <img class="mb-3" src="~/CustomAssets/images/side-3.png" />
            </div>
            <!--End Instant Services Style1 Content-->
        </div>
    </div>
</section>
<!--End Instant Services Style1-->

<section class="newsletter-style1" style="background-image: url(~/CustomAssets/images/news-bg.png);background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5">
                <div class="team-details__skills-box">
                    <div class="title">
                        <h2>News & Announcements</h2>

                    </div>
                    <div class="latest-news-grid" style="min-height: 425px;max-height: 445px;">
                        @* <div class="text-box">
                            <div class="d-flex">
                                <div class="news-icon-container">  <img class="news-icon" src="~/CustomAssets/images/news-icon.png" /></div>

                                <div class="ps-3 py-2">
                                    <p>
                                        NPCIL Participation in National Technology Week 2023.
                                    </p>
                                    <p class="date">DATE:08/06/2023</p>
                                    <p class="size">Size:25 KB  I  Language : Hindi</p>
                                </div>
                            </div>


                        </div> *@

                        <div class="text-box">
                             @foreach (var vertical in Model.VerticalNews)
                                {
                            <div class="d-flex">
                                <div class="news-icon-container">  <img class="news-icon" src="~/CustomAssets/images/news-icon.png" /></div>
                               
                                    <div class="ps-3 py-2">
                                        <p>
                                            @vertical.VN_Title
                                        </p>
                                        <p class="date">DATE : @vertical.VN_StartDate</p>
                                        <p class="size">Size:25 KB  I  Language : @vertical.VN_LangName</p>
                                    </div>
                                
                            </div>
                            }
                        </div>
                    </div>
                    <div class="btn-box mt-4">
                        <a class="btn-one" href="about.html">
                            <span class="txt">View All News <i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>




            <div class="col-xl-7">
                <div class="team-details__skills-box">
                    <div class="title">
                        <h2>Schemes</h2>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Public Awareness</a></li>
                        <li><a data-toggle="tab" href="#menu1">Articles</a></li>
                        <li><a data-toggle="tab" href="#menu2">Responses</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane  active">
                            <div class="latest-news-grid">
                                <div class="text-box">
                                    <div class="d-flex">
                                        <div class="news-icon-schems-container">  <img class="schems-icon" src="~/CustomAssets/images/pdf-icon.png"></div>

                                        <div class="py-2">
                                            <p>
                                                NPCIL Participation in National Technology Week 2023.
                                            </p>
                                            <p class="date">DATE:08/06/2023</p>
                                            <p class="size">Size:25 KB  I  Language : Hindi</p>
                                        </div>
                                    </div>


                                </div>
                                <div class="text-box">
                                    <div class="d-flex">
                                        <div class="news-icon-schems-container">  <img class="schems-icon" src="~/CustomAssets/images/pdf-icon.png"></div>

                                        <div class="py-2">
                                            <p>
                                                NPCIL Participation in National Technology Week 2023.
                                            </p>
                                            <p class="date">DATE:08/06/2023</p>
                                            <p class="size">Size:25 KB  I  Language : Hindi</p>
                                        </div>
                                    </div>


                                </div>
                                <div class="text-box">
                                    <div class="d-flex">
                                        <div class="news-icon-schems-container">  <img class="schems-icon" src="~/CustomAssets/images/pdf-icon.png"></div>

                                        <div class="py-2">
                                            <p>
                                                NPCIL Participation in National Technology Week 2023.
                                            </p>
                                            <p class="date">DATE:08/06/2023</p>
                                            <p class="size">Size:25 KB  I  Language : Hindi</p>
                                        </div>
                                    </div>


                                </div>
                                <div class="text-box">
                                    <div class="d-flex">
                                        <div class="news-icon-schems-container">  <img class="schems-icon" src="~/CustomAssets/images/pdf-icon.png"></div>

                                        <div class="py-2">
                                            <p>
                                                NPCIL Participation in National Technology Week 2023.
                                            </p>
                                            <p class="date">DATE:08/06/2023</p>
                                            <p class="size">Size:25 KB  I  Language : Hindi</p>
                                        </div>
                                    </div>



                                </div>
                                <div class="text-box">
                                    <div class="d-flex">
                                        <div class="news-icon-schems-container">  <img class="schems-icon" src="~/CustomAssets/images/pdf-icon.png"></div>

                                        <div class="py-2">
                                            <p>
                                                NPCIL Participation in National Technology Week 2023.
                                            </p>
                                            <p class="date">DATE:08/06/2023</p>
                                            <p class="size">Size:25 KB  I  Language : Hindi</p>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>
                        <div id="menu1" class="tab-pane fade">
                        </div>
                        <div id="menu2" class="tab-pane fade">
                        </div>
                    </div>
                    <div class="btn-box mt-4">
                        <a class="btn-one" href="about.html">
                            <span class="txt">View All News <i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-page">

    <div class="auto-container">
        <div class="sec-title text-center">

            <h2>Useful Links</h2>
        </div>

        <div class="row">

            <div class="col">
                <div class="services-page__single">
                    <div class="services-page__single-icon">
                        <img style="width:35px" src="~/CustomAssets/images/icon-1.png" />
                    </div>
                    <div class="services-page__single-inner">
                        <h3><a href="departments-details.html">Code of ethics & Conducts</a></h3>

                        <div class="btn-box">
                            <a href="#"><span class="icon-right-arrow"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="services-page__single">
                    <div class="services-page__single-icon">
                        <img style="width:35px" src="~/CustomAssets/images/icon-2.png" />
                    </div>
                    <div class="services-page__single-inner">
                        <h3><a href="departments-details.html">RTI</a></h3>

                        <div class="btn-box">
                            <a href="#"><span class="icon-right-arrow"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="services-page__single">
                    <div class="services-page__single-icon">
                        <img style="width:35px" src="~/CustomAssets/images/icon-3.png" />
                    </div>
                    <div class="services-page__single-inner">
                        <h3><a href="departments-details.html">Pariwar Connexion  </a></h3>

                        <div class="btn-box">
                            <a href="#"><span class="icon-right-arrow"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="services-page__single">
                    <div class="services-page__single-icon">
                        <img style="width:35px" src="~/CustomAssets/images/icon-4.png" />
                    </div>
                    <div class="services-page__single-inner">
                        <h3>
                            <a href="departments-details.html">
                                Know more about
                                Nuclear Power
                            </a>
                        </h3>

                        <div class="btn-box">
                            <a href="#"><span class="icon-right-arrow"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="services-page__single">
                    <div class="services-page__single-icon">
                        <img style="width:35px" src="~/CustomAssets/images/icon-5.png" />
                    </div>
                    <div class="services-page__single-inner">
                        <h3><a href="departments-details.html">Media callery</a></h3>

                        <div class="btn-box">
                            <a href="#"><span class="icon-right-arrow"></span></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>





<section class="section">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <img src="~/CustomAssets/images/logo-1.png" />
            </div>
            <div class="col">
                <img src="~/CustomAssets/images/logo-2.png" />
            </div>
            <div class="col">
                <img src="~/CustomAssets/images/logo-3.png" />
            </div>
            <div class="col">
                <img src="~/CustomAssets/images/logo-4.png" />
            </div>
            <div class="col">
                <img src="~/CustomAssets/images/logo-5.png" />
            </div>
        </div>
    </div>
</section>

<section class="section pt-2 pb-2" style="background-color: #13175a;">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col d-flex" style="align-items: center;">
                <p class="fs-20 text-white me-3">Connect with us:</p>
                <ul class="our-company-info__social-link">
                    <li>
                        <a href="#"><span class="icon-facebook-app-symbol"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="icon-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="icon-instagram"></span></a>
                    </li>
                </ul>
            </div>
            <div class="col text-right">
                <p class="fs-20 text-white me-3">Last updated on:  Monday, 27 September, 2023 10:30:27 AM</p>
            </div>
        </div>
    </div>
</section>

<script>
    var swiper = new Swiper('.swiper-container', {
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
    });
</script>